
@model IEnumerable<_05Mvc5ContosoUniversity.Viewmodel.EnrollmentDateGroup>

@{
    ViewBag.Title = "Student Body Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Body Statistics</h2>

