@charset "utf-8";
body, p, ul, li, ol, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}
header, footer, section, aside, article, nav, main, figure, figcaption {display:block;}
ul, ol {list-style:none;}
a {text-decoration:none;}
img {border:none;}

/*清除浮动*/
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after {clear:both;}
.clearfix {zoom:1;}