@charset "utf-8";

/* basic elements */
body {background:#efefef;}
#page-wrapper {margin:0 auto;width:982px;padding-top:10px;}

/* header */
.header {background:white;border-radius:20px 0 20px 0;}
.bannertitle h2 {color:#4eb8ea;}

/* main */

.blogphoto {width:100px;height:127px;background:url(../img/charles_wyke-smith.jpg);}

/* footer */