@charset "utf-8";

/* basic elements */
/*body {background:#efefef;font-family:'Lato',helvetica,arial,sans-serif;}*/
body {background:#efefef;font-family:helvetica,arial,sans-serif;}
#page-wrapper {margin:0 auto;width:982px;padding-top:10px;}

/* header */
/*.header {background:#fff;border-radius:20px 0 20px 0;position:relative;}
.bannertitle {position:absolute;width:250px;height:50px;}
.bannertitle h2 {color:#4eb8ea;font-size:36px;}
.bannertitle span {display:block;}
.navigation ul li {display:inline;}*/
.header {background:#fff;border-radius:20px 0;position:relative;height:50px;box-shadow:0 12px 8px -9px #555;padding-top:20px;}
.bannertitle {height:65px;width:300px;position:absolute;top:0;left:0;}
.bannertitle h1 {color:#4eb8ea;}
.bannertitle h2 {font-size:0.9em;}
.navmenu ul {text-align:center;}
.navmenu ul li {display:inline-block;}

.search {width:150px;height:30px;position:absolute;top:0;right:0;}
/* main */

.blogphoto {width:100px;height:127px;background:url(../img/charles_wyke-smith.jpg);}

/* footer */
.footer {margin:10px 0;background:#fff;border-radius:10px 0;font-size:12px;text-align:center;}