<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ClassList Show</title>
    <style type="text/css">
        #main {
            width:600px; 
            margin:50px auto;
        }
        a {
            color:#000;
            text-decoration:none;
        }
        .aButton {
            width:40px;
            height:20px;
            display:block;
            border:1px solid #000;
            background-color:#fbf744;
        }
    </style>
</head>
<body>
    <div id="main">
        <a href="ClassEdit.ashx?action=AddNew" class="aButton">新增</a>
        <table>
            <thead>
                <tr>
                    <td style="width:60%">班级名称</td>
                </tr>
            </thead>
            <tbody>               
                #foreach($c in $Data)
                <tr>
                    <td style="width:60%">$c.ClassName</td>
                    <td><a href="ClassEdit.ashx?action=Edit&Id=$c.Id" class="aButton">修改</a></td>
                    <td><a href="ClassEdit.ashx?action=Delete&Id=$c.Id" class="aButton">删除</a></td>
                </tr>                
                #end
            </tbody>
        </table>
    </div>
</body>
</html>
