<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>UserLogin</title>
    <style type="text/css">
        #wrappage { width: 750px; margin: 50px auto; }
    </style>
</head>
<body>
    <div id="wrappage">
        <form action="UserLogin.ashx" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="username" value="$Data.UserName"></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>$Data.Info</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="checkbox" name="remember" value="save">记住用户名</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="登录" name="login" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
