@model IEnumerable<ContosoUniversityDemo.ViewModels.EnrollmentDataGroup>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student Staticstics</h2>
<table class="table">
    <tr>
        <th>EnrollmentDate</th>
        <th>Students</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.EnrollmentDate)</td>
            <td>@Html.DisplayFor(m => item.StudentCount)</td>
        </tr>
    }
</table>