@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Contoso 大学</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>欢迎访问Contoso University</h2>
        <p>Contoso大学是一个示例应用程序，演示了如何在MVC5中如何使用实体框架6来建立一个Web应用程序。</p>
    </div>
    <div class="col-md-4">
        <h2>从头建立</h2>
        <p>你可以跟随教程来一步步建立该应用程序。</p>
        <p><a href="javascript:;" class="btn btn-default">查看教程 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>直接下载</h2>
        <p>你可以从微软代码库中直接下载已完成的项目。</p>
        <p><a class="btn btn-default" href="javascript:;">Download &raquo;</a></p>
    </div>
</div>