<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>VedioShow HTML</title>
    <style type="text/css">
        #wrappage { width: 800px; margin: 50px auto; }
    </style>
</head>
<body>
    <div id="wrappage">
        <video src="../others/oneHomeBook.mp4" autoplay controls></video>
        <form action="VedioShow.ashx" method="post">
            <input type="hidden" name="submit" value="IsSubmit">
            <p>
                <input type="submit" name="zan" value="赞"><label>$Data.ZanCount</label>
                <input type="submit" name="cai" value="踩"><label>$Data.CaiCount</label>
            </p>
        </form>
    </div>
</body>
</html>
