@{
    ViewBag.Title = "Add New Entry";
}

<h2>Add New Entry</h2>
<fieldset>
    <legend>请输入留言</legend>
    <form method="post" action="">
        <p>请输入用户名称：</p>
        <input type="text" name="Name"><br/><br/>
        <p>请输入你的留言：</p>
        <textarea name="Message" cols="40" rows="10"></textarea><br/><br/>
        <input type="submit" value="发表留言">
    </form>
</fieldset>