<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Login HTML</title>
    <style type="text/css">
        #wrappage { width:800px; margin:50px auto; }
    </style>
</head>
<body>
    <div id="wrappage">
        <form action="Login2.ashx" method="post">
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="username" ></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password" ></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="login" value="登录" ></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
