
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <style type="text/css">
        #wrappage { width:960px; margin:50px auto; }
        .firstText { font-size:24px; color:#fbe87c; }
    </style>
</head>
<body>
    <div id="wrappage"> 
        <p class="firstText">
            This is my first MVCTest!
        </p>
    </div>
</body>
</html>
