
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        #wrappage { width:960px; margin:50px auto; }
        .firstText { font-size:24px; color:#fbe87c; }
        .firstText a, .firstText a:hover {text-decoration:none; }
    </style>
</head>
<body>
    <div id="wrappage"> 
        <p class="firstText">
            @*<a href="Index2">跳转到下一页面</a>*@
            <a href="Index2">跳转到下一页面</a>
            
        </p>
    </div>
</body>
</html>
