@model ContosoUniversityDemo.Models.Instructor
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<h3>Instructor</h3>

@using (Html.BeginForm("Create", "Instructor", FormMethod.Post))
{
    
}
