* {
	margin:0px;
	padding:0px;
}
.wrappage {
	width:980px;
	margin:20px auto;
}

/* 复合选择器之指定式选择器 */
h3.titleText {
	color: red;
	font-size:18px;
}

/* 复合选择器之后代选择器 */
.ul_li_1 li {
	color:#00B3FF;
	font-size: 18px;
	font-weight: bold;
}

/* 复合选择器之并集选择器 */
.mergeSpan h2, .mergeSpan p {
	color: #5CB85C;
	font-size: 24px;
}

/* 复合选择器之子元素选择器 */
.sunSpan > p {
	color:yellowgreen;
	font-size:22px;
}

/* CSS伪类选择器 */
.fakeCSS a:link {
	color:red;
}
.fakeCSS a:visited {
	color:greenyellow;
}
.fakeCSS > a:hover {
	color:deepskyblue;
	background-color:silver;
}
.fakeCSS a:active {
	font-size: 20px;
}

/* CSS伪元素 */
.fakeElement p:first-line {
	color:orangered;
}
.fakeElement p:first-letter {
	font-size:32px;
}

/* CSS优先级 */
.priorityCSS {
	color:red;
}

/* CSS的display属性设置 */
.displaySpan div {
	background-color: silver;
	display: inline;
}
.displaySpan strong {
	background-color: yellow;
	display: block;
	/* 设置为none属性，此元素会从文档流中被移除，下方的元素会自动移动到此元素的位置来填补空缺 */
	/*display: none;*/
	/* visibility:hidden; 设置此样式，可以将元素在页面中隐藏不显示，但是元素仍然存在于页面的文档流中 */
}
.displaySpan .divInlineBlock {
	display: inline-block;
	height:50px;
}

/* CSS文本装饰线的设置 */
.text-line a {
	text-decoration: none;
}
.text-line .text-underline {
	/* underline即设置为下划线 */
	text-decoration: underline;
}
.text-line .text-linethrough {
	/* line-through设置删除线 */
	text-decoration: line-through;
}
.text-line .text-topline {
	/* overline设置文字上方的顶线 */
	text-decoration: overline;
}
