@charset "utf-8";

/* base elements */
body {background:#1b1b1b;font-family:Microsoft Yahei,Arial,Verdana,Sans-Serif;font-size:12px;}
#container {background:url(../img/main_bg.jpg) no-repeat top center #f90;}
/* main */
/*.main {width:960px;margin:0 auto;padding-top:35px;}*/
	/* header */
.header {background:url(../img/header_menu_bg.png) no-repeat center 95px;}
.headerContent {width:960px;margin:0 auto;padding:35px 0 20px 0;color:#fff;}
.headerBanner {padding-bottom:15px;}
.logo {float:left;}
.headerInfo {float:left;width:332px;text-align:right;line-height:20px;margin:30px 0 0 25px;overflow:hidden;}
.headerInfo abbr {font-size:10px;}
.phoneNum {float:left;margin:28px 0 0 8px;font-size:24px;font-weight:bold;line-height:28px;background:url(../img/header_phone_icon.png) no-repeat 0 0;padding:0 10px 0 48px;}
.headerNav {padding:28px 0 30px;font-weight:bold;float:right;}
.headerNav ul li {float:left;}
.headerNav ul li a {color:#fff;padding:0 34px;}
.headerNav ul li a:hover {color:#fea500;}
.headerNav .headerNav-first {height:74px;background:url(../img/header_menu_bg1.png) no-repeat center 3px;padding:30px 34px;color:#fea500;cursor:default;}
	/* content */
.content {width:960px;margin:0 auto;padding:30px 0 20px;}
.contentLeft {width:375px;float:left;padding-bottom:30px;}
.contentLeft img:first-child {padding:40px 0 20px;}
.contentLeft img:nth-child(2) {padding:35px 0 20px 20px;}
.contentLeft img:nth-child(3) {padding:32px 0 20px;}
.contentInfo {padding-top:27px;}
.contentInfo h4 {padding-bottom:12px;}
.contentInfo span {line-height:24px;}
.contentRight {width:546px;float:right;}
.imageShow {border:1px solid #ffe900;width:546px;height:236px;margin:57px 0 28px;position:relative;}
.imageShow img {border:4px solid #f60;}
.prevButton {position:absolute;left:4px;top:92px;}
.nextButton {position:absolute;right:4px;top:92px;}
.prevButton img, .nextButton img {border:none;}
.imageLink {padding:27px 0 30px;}
.imageLink img:first-child {margin-right:24px;}
.imageLink img:last-child {margin-left:24px;}
.solution {padding-top:14px;}

/* footer */
.footer {width:960px;margin:0 auto;padding-bottom:80px;}
.siteMap img {padding-left:6px;}
.siteMap, .siteMap a {color:#383838;}
.siteMap {border-bottom:1px solid #000;padding-bottom:20px;}
.ul1 {padding-top:15px;}
.ul1 > li {float:left;margin-right:40px;}
.ul2 > li {padding-bottom:20px;}
.ul2 > li a {background:url(../img/sitemap_nodes_icon_333.png) no-repeat;padding-left:25px;}
.ul2 > li a:hover {background:url(../img/sitemap_nodes_icon_hover.png) no-repeat;padding-left:25px;color:#f90;}
.ul2 > li:first-child {font-size:30px;font-weight:bold;margin-bottom:15px;background:none;padding-left:0;padding-bottom:0;}
.ul2 > li:last-child {padding-bottom:5px;}
.copyrights {border-top:1px solid #333;color:#383838;font-size:10px;padding:20px 0;line-height:28px;}
.copyrights a {color:#383838;}
.copyrights a:first-child {background:url(../img/css_icon.png) no-repeat 1px center;padding-right:70px;}
.copyrights a:nth-child(2) {background:url(../img/xhtml_icon.png) no-repeat 1px center;padding-right:70px;}
.copyrights a:last-child {background:url(../img/nwp.png) no-repeat top right;padding:7px 151px 13px 10px;}
.frendsLink {color:#383838;}
.frendsLink ul li {float:left;padding-top:8px;}
.frendsLink ul li a {color:#383838;background:url(../img/out_link_icon_333.png) no-repeat top right;padding:0 16px 0 8px;}
.frendsLink ul li a:hover {color:#f90;background:url(../img/out_link_icon_hover.png) no-repeat top right;}