<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>LiuYanShow HTML</title>
    <link rel="stylesheet" href="../style/base.css">
</head>
<body>
    <div id="wrappage">
        #parse("Header.html")
        <div id="main">
            <a href="LiuYanAdd.ashx" class="aBtn">新增留言</a>
            <table class="showTable">
                #foreach($t in $Data)
                <tr>
                    <td>标题：</td>
                    <td>$t.TextTitle</td>
                </tr>
                <tr>
                    <td>昵称：</td>
                    <td>
                        #if($t.IsNoName==false)
                        $t.NickName
                        #else
                        匿名
                        #end
                    </td>
                </tr>
                <tr>
                    <td>发表日期：</td>
                    <td>$t.PublishTime</td>
                </tr>
                <tr>
                    <td>客户端IP：</td>
                    <td>$t.ClientIP</td>
                </tr>
                <tr>
                    <td colspan="2"><span>$t.PublishText</span></td>
                </tr>
                <!--
                <tr>
                    <td>标题：$t.TextTitle</td>
                </tr>
                <tr>
                    #if($t.IsNoName==false)
                    <td>昵称：$t.NickName</td>
                    #else
                    <td>昵称：匿名</td>
                    #end
                </tr>
                <tr>
                    <td>发表日期：$t.PublishTime</td>
                </tr>
                <tr>
                    <td>客户端IP：$t.ClientIP</td>
                </tr>
                <tr>
                    <td><span>$t.PublishText</span></td>
                </tr>
                -->
                #end
            </table>
        </div>
        #parse("Footer.html")
    </div>
</body>
</html>
