<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>ChouJiangIndex HTML</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div id="indexWrappage">
        <h1 style="text-align:center;font-size:48px;color:rgb(255,250,207);">苏州商旅网通科技有限公司</h1>
        <div id="lotteryButton">
            <a class="aBtn" href="../handlers/ChouJiang.ashx?lotteryType=3">抽三等奖</a>
            <a class="aBtn" href="../handlers/ChouJiang.ashx?lotteryType=2">抽二等奖</a>
            <a class="aBtn" href="../handlers/ChouJiang.ashx?lotteryType=1">抽一等奖</a>
        </div>
    </div>
</body>
</html>
