<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        #if($Data.Action == "AddNew")
            StudentManage StuAdd
        #else
            StudentManage StuEdit
        #end
    </title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div id="wrappage">
        <div id="header">
            #parse("HeaderTemp.html")
        </div>
        <div id="main">
            <form action="StudentEdit.ashx" method="post">
                <input type="hidden" name="action" value="$Data.Action">
                <input type="hidden" name="save" value="True">
                <input type="hidden" name="Id" value="$Data.Student.Id">
                #if($Data.Action == "AddNew")
                <table>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="Name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input type="radio" name="Gender" value="男" id="male1"><label for="male1">男</label>
                        <input type="radio" name="Gender" value="女" id="female1"><label for="female1">女</label></td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td><input type="date" name="Birthday"></td>
                    </tr>
                    <tr>
                        <td>身高(cm)：</td>
                        <td><input type="text" name="Height"></td>
                    </tr>
                    <tr>
                        <td>班级：</td>
                        <td>
                            <select name="ClassId">
                                #foreach($c in $Data.Class)
                                <option value="$c.Id">$c.ClassName</option>
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>是否特长生：</td>
                        <td>
                            <input type="radio" name="IsTeChang" value="True" id="trueTC1"><label for="trueTC1">是</label>
                            <input type="radio" name="IsTeChang" value="False" id="falseTC1"><label for="falseTC1">不是</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="保存">
                        </td>
                    </tr>
                </table>
                #else
                <table>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="Name" value="$Data.Student.Name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td>
                            #if($Data.Student.Gender == "男")
                            <input type="radio" name="Gender" value="男" id="male2" checked><label for="male2">男</label>
                            <input type="radio" name="Gender" value="女" id="female2"><label for="female2">女</label>
                            #else
                            <input type="radio" name="Gender" value="男"　id="male3"><label for="male3">男</label>
                            <input type="radio" name="Gender" value="女" id="female3" checked><label for="female2">女</label>
                            #end
                        </td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td>
                            #set($str = "$Data.Student.Birthday")                        
                            <input type="date" name="Birthday" value="$str.SubString(0,10)">
                        </td>
                    </tr>
                    <tr>
                        <td>身高(cm)：</td>
                        <td><input type="text" name="Height" value="$Data.Student.Height"></td>
                    </tr>
                    <tr>
                        <td>班级：</td>
                        <td>
                            <select name="ClassId">
                                #foreach($c in $Data.Classes)
                                    #if($c.Id == $Data.Student.ClassId)
                                        <option value="$c.Id" selected>$c.ClassName</option>
                                    #else
                                        <option value="$c.Id">$c.ClassName</option>
                                    #end
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>是否特长生：</td>
                        <td>
                            #if($Data.Student.IsTeChang == 1)
                            <input type="radio" name="IsTeChang" value="True" id="trueTC2" checked><label for="trueTC2">是</label>
                            <input type="radio" name="IsTeChang" value="False" id="falseTC2"><label for="falseTC2">不是</label>
                            #else
                            <input type="radio" name="IsTeChang" value="True" id="trueTC3"><label for="trueTC3">是</label>
                            <input type="radio" name="IsTeChang" value="False" id="falseTC3" checked><label for="falseTC3">不是</label>
                            #end
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="保存">
                        </td>
                    </tr>
                </table>
                #end
            </form>
        </div>
        <div id="footer">
            #parse("FooterTemp.html")
        </div>
    </div>
</body>
</html>
