<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>StudentManage StuEdit</title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div id="wrappage">
        <div id="header">
            #parse("HeaderTemp.html")
        </div>
        <div id="main">
            <form action="StudentEdit.ashx" method="post">
                <table>
                    <tr>
                        <td>姓名：</td>
                        <td><input type="text" name="Name"></td>
                    </tr>
                    <tr>
                        <td>性别：</td>
                        <td><input type="radio" name="Gender" value="男" id="male"><label for="male">男</label>
                        <input type="radio" name="Gender" value="女" id="female"><label for="female">女</label></td>
                    </tr>
                    <tr>
                        <td>出生日期：</td>
                        <td><input type="date" name="Birthday"></td>
                    </tr>
                    <tr>
                        <td>身高(cm)：</td>
                        <td><input type="text" name="Height"></td>
                    </tr>
                    <tr>
                        <td>班级：</td>
                        <td>
                            <select name="ClassId">
                                #foreach($c in $Data)
                                <option value="$c.Id">$c.ClassName</option>
                                #end
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>是否特长生：</td>
                        <td>
                            <input type="radio" name="IsTeChang" value="True" id="trueTC"><label for="trueTC">是</label>
                            <input type="radio" name="IsTeChang" value="False" id="falseTC"><label for="falseTC">不是</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="保存">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="footer">
            #parse("FooterTemp.html")
        </div>
    </div>
</body>
</html>
