<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>StudentManage StuList</title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div id="wrappage">
        <div id="header">
            #parse("HeaderTemp.html")
        </div>
        <div id="main">
            <a href="StudentEdit.ashx?action=AddNew" style="display:block; margin-bottom:10px;">新增</a>
            <table>
                <thead>
                    <tr>
                        <td style="width:11%;">姓名</td>
                        <td style="width:11%;">性别</td>
                        <td style="width:11%;">出生日期</td>
                        <td style="width:11%;">身高</td>
                        <td style="width:11%;">班级</td>
                        <td>是否特长生</td>
                    </tr>
                </thead>                
                <!--
                    截取字符串操作
                    原始字符串：$!ag.tagValue，也许很长，前端页面展示时需要截取字符串。    
                    #set($str=$!ag.tagValue)
                    #if($str.length()>30)
                        #set($str=$str.substring(0,30))
                        $str ...
                    #else
                    $!ag.tagValue
                    #end
                -->

                <!--
                #foreach($s in $Data.Student)
                <tr>
                    <td style="width:16%;">$s.Name</td>
                    <td style="width:16%;">$s.Gender</td>
                    <td style="width:16%;">$s.Birthday</td>
                    <td style="width:16%;">$s.Height</td>
                    <td style="width:16%;">$s.ClassId</td>
                    <td>$s.IsTeChang</td>
                </tr>
                #end
                -->
                #foreach($s in $Data.Student)
                <tr>
                    <td style="width:11%;">$s.Name</td>
                    <td style="width:11%;">$s.Gender</td>
                    <td style="width:11%;">$s.Birthday</td>
                    <td style="width:11%;">$s.Height</td>
                    <td style="width:11%;">
                    #foreach($c in $Data.Class)
                        #if($c.Id == $s.ClassId)
                            $c.ClassName
                        #end
                    #end
                    </td>
                    <td>
                        #if($s.IsTeChang == "False")
                            不是
                        #else
                            是
                        #end
                    </td>
                    <td style="width:11%;">
                        <a href="StudentEdit.ashx?action=Edit&Id=$s.Id&ClassId=$s.ClassId">编辑修改</a>
                    </td>
                    <td style="width:11%;">
                        <a href="StudentEdit.ashx?action=Delete&Id=$s.Id">删除</a>
                    </td>
                </tr>
                #end
            </table>
        </div>
        <div id="footer">
            #parse("FooterTemp.html")
        </div>
    </div>
</body>
</html>
