@charset "utf-8";
@import url("reset.css");

.button1, .button2 {width:47px;height:47px;}
#wrappage {height:100px;width:600px;margin:50px auto;position:relative;overflow:hidden;}
ul {position:absolute;top:0;}
ul li {float:left;width:150px;height:100px;}