@charset "utf-8";
@import url("reset.css");

#wrappage {width:600px;height:100px;position:relative;margin:50px auto;overflow:hidden;}
#wrappage ul {position:absolute;left:0;top:0;}
#wrappage ul li {width:150px;height:100px;float:left;}
.mainContent {position:relative;}
#leftButton, #rightButton {width:47px;height:47px;position:absolute;}
#leftButton {background:url("../img/button.png") no-repeat left top;left:280px;top:30px;}
#rightButton {background:url("../img/button.png") no-repeat -52px top;left:1030px;top:30px;}
/*
===== CSS代码2 ===============
@charset "utf-8";
@import url("reset.css");
#wrappage {width:600px;height:100px;position:relative;margin:50px auto;overflow:hidden;}
#wrappage ul {position:absolute;left:0;top:0;}
#wrappage ul li {width:150px;height:100px;float:left;}

===== CSS代码1 =============== 
@charset "utf-8";
@import url("reset.css");
#buttonDiv {padding:8px 0 0 650px;}
.button1, .button2 {float:left;width:47px;height:47px;}
.button1 {background:url("../img/button.png") no-repeat left top;margin-right:10px;}
.button2 {background:url("../img/button.png") no-repeat -53px top;}
#wrappage {height:100px;width:600px;margin:50px auto;position:relative;overflow:hidden;}
ul {position:absolute;top:0;}
ul li {float:left;width:150px;height:100px;}
*/